<% provide(:title, 'WorkOut!!について') %>

<div class="showcase" id="section-1">
  <div class="section-content">
    <h1 class="text-center">
      <span class="display-medium">WorkOut!!は</span><br>
      <span class="display-large">トレーニングメニュー<br>管理アプリ</span>
      <span class="display-medium">です。</sapn>
    </h1>
  </div>
  <a href="#section-2" class="js-smooth-scroll">
    <span class="js-smooth-scroll"></span>
  </a>
</div>

<div class="showcase" id="section-2">
  <div class="section-content">
    <h1 class="text-center">
      <span class="display-large">
        まずは自分だけの<br>メニューを作成しましょう。
      </span>
    </h1>
    <p class="text-center">
      メニュー名を決めたらあとは種目を選ぶだけ。<br>
      すでに多くの種目が用意されていますが、オリジナル種目を作成することもできます。
    </p>
  </div>
  <a href="#section-3" class="js-smooth-scroll">
    <span class="js-smooth-scroll"></span>
  </a>
</div>

<div class="showcase" id="section-3">
  <div class="section-content">
    <h1 class="text-center">
      <span class="display-large">
        スケジュールに登録して<br>当日のメニューをTOPに表示。
      </span>
    </h1>
    <p class="text-center">
      次に、作成したメニューをスケジュールに登録しましょう。<br>
      TOPに当日のメニューが表示され、チェックして記録ができます。
    </p>
  </div>
  <a href="#section-4" class="js-smooth-scroll">
    <span class="js-smooth-scroll"></span>
  </a>
</div>

<div class="showcase" id="section-4">
  <div class="section-content">
    <h1 class="text-center">
      <span class="display-large">
        過去や未来のメニューは<br>カレンダーで確認できます。
      </span>
    </h1>
    <p class="text-center">
      カレンダーには達成したメニューが記録されていきます。<br>
      詳しく見たい場合はその日付をタッチまたはクリックしてください。
    </p>
  </div>
</div>