<% provide(:title, "メニュー一覧") %>
<h1 class="mb-3">メニュー一覧</h1>

<div class="link-center mb-3">
  <i class="far fa-plus-square"></i>
  <%= 
    link_to "新規作成",
    new_user_menu_path,
    class: "link-center icon-edit"
  %>
</div>

<div id="menus">
  <div class="list-group menu-list">
    <% @menus.each do |menu| %>
     <%= link_to menu.name,
       user_menu_path(current_user, menu),
       class: "list-group-item list-group-item-action"
     %>
    <% end %>
  </div>
<%= paginate @menus, remote: true %>
</div>