<%= render 'sample_pages/user_signed_in' %>
  
<div class="link-center mt-2rem">
  <i class="fas fa-angle-double-left"></i>
  <%= 
    link_to "カレンダーへ戻る",
    calendar_path,
    class: "link-center icon-edit"
  %>
</div>

