@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700);

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$ng_alert_bg_color: #f2dede;
$ng_alert_border_color: #ebccd1;
$ng_alert_color: #a94442;
$ok_alert_bg_color: #dff0d8;
$ok_alert_border_color: #d6e9c6;
$ok_alert_color: #468847;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top:4.5rem;
  font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体',
               'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN',
               'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo,
               'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 1.4em;
  letter-spacing: -1px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-700;
}

p {
  line-height: 1.7em;
}

.mt-2rem {
  margin-top: 2rem !important;
}

.mb-2rem {
  margin-bottom: 2rem !important;
}

/* footer */

footer {
  margin-top: 2rem;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-600;
  a {
    color: $gray-700;
    &:hover {
      color: $gray-800;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  @include box_sizing;
}

input {
  height: auto !important;
}

div.form-check {
  margin-top: -10px;
  margin-bottom: 10px;
}

#user_remember_me {
  width: auto;
  margin-left: 0;
}

.form-check-label {
  font-weight: normal;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .is-invalid;
  .form-control {
    color: $form-feedback-invalid-color;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-200;
  }
}

/* flash */

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-alert {
  background-color: $ng_alert_bg_color;
  border-color: $ng_alert_border_color;
  color: $ng_alert_color;
}

.alert-notice {
  background-color: $ok_alert_bg_color;
  border-color: $ok_alert_border_color;
  color: $ok_alert_color;
}

/* flexbox（スケジュール管理） */

div.cont {
  box-sizing: border-box;
  display: flex;
  /* flexboxレイアウトを使うための命令 */
  flex-wrap: wrap;
  /* 上記で囲われたflexアイテムを折り返すように設定する */
}

div.item {
  box-sizing: border-box;
  width: 14.28%;
  /* 100%を1行当たりのカラム数（今回は7）で割った数値 */
  border: 1px solid #ced4da;
  /* 飾り */
  margin: 0;
  /* widthの計算簡単にするため（marginも使うための拡張は後で） */
  text-align: center;
}

div.item p {
  margin-top: -1px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0;
  &.weekday {
    background-color: #343a40;
  }
  &.saturday {
    background-color: #3F8AAE;
  }
  &.sunday {
    background-color: #BD300A;
  }
}

div.item select {
  width: 90%;
  margin-bottom: 1rem;
}

div.form-submit {
  margin-top: 2rem;
  text-align : center; 
}

div.form-submit input.btn {
  width: 40%;
}

@media (max-width: 767px) {
  /*レスポンシブ用*/
  div.cont {
    box-sizing: border-box;
    display: block;
    div.item {
      box-sizing: border-box;
      width: 100%;
      border-top-width: 0;
      p {
        margin: -1px -1px 0;
      }
      &:first-child {
        border-top-width: 1px;
        border-radius: .25rem .25rem 0 0;
        p {
          border-radius: .25rem .25rem 0 0;
        }
      }
      &:last-child {
        border-radius: 0 0 .25rem .25rem;
      }
    }
  }
  div.form-submit input.btn {
  width: 100%;
  }
}

@media (min-width: 768px) {
  /*薄いボーダーと濃い背景によるズレを調整*/
  div.cont {
    div:first-child p {
      margin-left: -1px;
      border-top-left-radius: .25rem;
    }
    div:last-child p {
      margin-right: -1px;
      border-top-right-radius: .25rem;
    }
  }
  /*ボーダーの重なりを調整*/
  div.item {
    border-left-width: 0;
  }
  /*ボーダーの角を丸く*/
  div.item:nth-child(1) {
    border-left-width: 1px;
    border-radius: .25rem 0 0 .25rem;
  }
  div.item:nth-child(7) {
    border-radius: 0 .25rem .25rem 0;
  }
}

/* メニュー一覧 */

div.menu-list {
  width: 40%;
  margin: auto;
}

@media (max-width: 767px) {
  div.menu-list {
    width: 100%;
  }
}

/* メニュー詳細 */

div.menu-items-list {
  display: inline-block;
  margin: 1rem auto;
  padding: 40px 2.5rem 40px 2rem;
  background: #484848;
  border-radius: .25rem;
  box-shadow: 0px 0px 5px silver;
  text-align: center;
  color: #ddd;
  ul {
    display: inline-block;
    text-align: left;
    margin-bottom: 0;
  }
  li {
    margin-top: 1rem;
    &:first-child {
      margin-top: 0;
    }
  }
}

@media (max-width: 767px) {
  div.menu-items-list {
    width: 100%;
  }
}

/* メニュー内容の編集 */
div.link-center {
  text-align: center;
}

table.menu-items {
  margin-top: 1rem;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
}

.tbl-r05 {
  width: 100%;
}

th, td {
  border: 1px solid #ced4da;
}

tr.thead {
  text-align: center;
  background-color: #343a40;
  color: #fff;
  th {
    font-weight: normal;
  }
}

th {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-top-color: #343a40;
}

.tbl-r05 td {
  /* 画面幅変更時の単位の表示崩れを防ぐため */
  text-align: right;
}

.menu-items td {
  padding-top: 0.5rem;
  padding-right: 1.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  &:first-child {
    padding-right: 0.5rem;
  }
  &:nth-child(5) {
    padding-right: 3rem;
  }
  &:nth-child(6) {
    border: 0;
    padding: 0;
    text-align: left;
  }
  &.relative {
    position: relative;
  }
  div.parts-types {
    display: inline;
    float: left;
    width: 40%;
    padding-right: 0.5rem;
  }
  div.items {
    float: right;
    width: 60%;
  }
  input[type="number"] {
    text-align: right;
    padding-right: 1px;
    &:focus {
      text-align: left;
    }
  }
  small.unit {
    margin-left: 1px;
    position: absolute;
  	top: 50%;
  	transform : translateY(-50%);
  }
}

.tbl-r05 td input {
  display: inline-block; 
}

div.toggle-button {
  margin-top: 1.5rem;
  text-align: center;
}

.toggle-show {
  display: none;
}

div.menu-items-submit {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  /*テーブルの角に丸みをもたせる*/
  table.menu-items {
    table-layout: auto;
    tr:first-child {
      th:first-child {
        overflow: hidden;
        border-left-color: #343a40;
        border-top-left-radius: .25rem;
      }
      th:nth-child(5) {
        border-right-color: #343a40;
        border-top-right-radius: .25rem;
      }
    }
    tr.toggle-radius {
      td:first-child {
        border-bottom-left-radius: .25rem;
      }
      td:nth-child(5) {
        border-bottom-right-radius: .25rem;
      }
    }
    tr:last-child {
      td:first-child {
        border-bottom-left-radius: .25rem;
      }
      td:nth-child(5) {
        border-bottom-right-radius: .25rem;
      }
    }
    th {
      border-left-width: 0;
      &:first-child {
        border-left-width: 1px;
      }
    }
    td {
      border-top-width: 0;
      border-left-width: 0;
      &:first-child {
        border-left-width: 1px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  table.menu-items {
    td:first-child {
      border-radius: .25rem .25rem 0 0;
    }
    td:nth-child(5) {
      border-radius: 0 0 .25rem .25rem;
    }
  }
  .tbl-r05 {
    width: 100%;
    .thead {
      display: none;
    }
    tr {
      width: 100%;
    }
    td {
      display: block;
      width: 100%;
      &:first-child {
        background: #343a40;
        color: #fff;
        font-weight: bold;
        text-align: center;
      }
      &:before {
        content: attr(data-label);
        float: left;
        margin-top: 7px;
      }
    }
  }
  .menu-items td {
    border-top-width: 0;
    &:first-child {
      border-top-width: 1px;
      border-color: #343a40;
    }
    &:nth-child(5) {
      input.form-control {
        width: calc(60% - 0.7rem + 1px);
      }
    }
    &:nth-child(6) {
      text-align: center;
    }
    div.parts-types {
      display: inline-block;
      float: none;
      width: 100%;
      padding-right: 0;
      padding-bottom: 0.5rem;
      select {
        height: calc(1.3em + 0.65rem);
        font-size: 0.9rem;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
      }
    }
    div.items {
      float: none;
      width: 100%;
    }
    input.form-control {
      width: 60%;
    }
  }
  div.menu-items-submit {
    margin-top: 2rem;
  }
}

/* Font Awesome */

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.plus::before {
  content: "\f067";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.minus::before {
  content: "\f068";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.right::before {
  content: "\f0da";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.left::before {
  content: "\f0d9";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

/* 種目一覧 */

div {
  .new-item-btn {
    text-align: center;
    margin-bottom: 1rem;
  }
  .item-list {
    width: 40%;
    margin: auto;
  }
  &.select-search {
    text-align: center;
    margin-bottom: 1rem;
    select.select-parts-types {
      width: 40%;
    }
  }
}

@media (max-width: 767px) {
  div {
    .item-list {
      width: 100%;
    }
    &.select-search select.select-parts-types {
      width: 100%;
    }
  }
}

/* 種目個別ページ */

table.tbl-r02 {
  margin: 1rem auto 2rem;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  p {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 60px auto 40px;
  }
  th {
    background: #343a40;
    border: solid 1px $gray-400;
    padding: 10px;
    font-weight: normal;
    color: #fff;
  }
  td {
  　border: solid 1px $gray-400;
    padding: 10px;
  }
}

@media screen and (min-width: 768px) {
  /*テーブルの角に丸みをもたせる*/
  table.tbl-r02 {
    th {
      border-top-width: 0;
      border-left-color: #343a40;
    }
    td {
      border-top-width: 0;
      border-left-width: 0;
    }
    tr:first-child {
      th {
        border-top-left-radius: .25rem;
        border-top-width: 1px;
        border-top-color: #343a40;
      }
      td {
        border-top-right-radius: .25rem;
        border-top-width: 1px;
      }
    }
    tr:last-child {
      th {
        border-bottom-left-radius: .25rem;
        border-bottom-color: #343a40;
      }
      td {
        border-bottom-right-radius: .25rem;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  table.tbl-r02 {
    width: 80%;
    .last td:last-child {
      border-bottom: solid 1px #ccc;
      width: 100%;
    }
    th {
      border-color: #343a40;
    }
    tr {
      text-align: center;
      &:first-child th {
        border-radius: .25rem .25rem 0 0;
      }
      &:last-child td {
        border-radius: 0 0 .25rem .25rem;
      }
    }
    th, td {
      border-bottom: none;
      display: block;
      width: 100%;
    }
  }
}

/*フォームの横幅を変更する*/
.row-original {
  padding: 0 15px;
}

.col-md-6-original {
    padding: 0;
}

@media (min-width: 768px) {
  .col-md-6-original {
      flex: 0 0 40%;
      max-width: 40%;
      margin-left: 30%;
  }
}

/*TOPぺージ*/

div.homepage {
  h1 a {
    &:hover {
      text-decoration: none;
    }
  }
}

div.top-itembox {
  margin: auto;
  padding: 40px 1rem;
  background: #484848;
  border-radius: .25rem;
  box-shadow: 0px 0px 5px silver;
  text-align: center;
  div.top-itemlist {
    display: inline-block;
    text-align: left;
  }
  div.item-details {
    padding-left: 2rem;
    color: #ddd;
  }
  ul {
    color: #ddd;
    display: inline-block;
    text-align: left;
    margin-bottom: 0;
  }
  li {
    margin-top: 1rem;
    &:first-child {
      margin-top: 0;
    }
  } 
}

div.all-check, div.all-uncheck {
  margin-top: 0.5rem;
  text-align: center;
  font-weight: 400;
}

.btn-outline-original {
  display: inline-block;
	width: 160px;
	padding: 0.5em;
	text-align: center;
	text-decoration: none;
	color: #343a40;
	border: 2px solid #343a40;
	border-radius: .25rem;
	transition: .4s;
	background: #fff;
	font-size: 80%;
	&:hover {
	  background: #343a40;
	  color: #fff;
	}
}

/*チェックボックス*/

div.records {
  input[type="checkbox"] { display: none; }
  input[type="checkbox"] + label {
    display: block;
    position: relative;
    padding-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 0;
    color: #ddd;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  div.top-itembox form:first-child input[type="checkbox"] +
  label { margin-top: 0; } input[type="checkbox"] + label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid #6cc0e5;
    position: absolute;
    left: 0;
    top: 2px;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
  }
  input[type="checkbox"]:checked + label:before {
    width: 10px;
    top: -3px;
    left: 5px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

/*メニュー名のみの場合*/
div.menu-only {
  height: 27px;
  top: 0;
  font-size: 1.2em;
  letter-spacing: -1px;
  font-weight: normal;
  text-align: center;
  div.menu-label {
    display: inline-block;
  }
  input[type="checkbox"] + label.menu-only-label {
    margin-top: 0;
    padding-bottom: 0.5rem;
    color: $gray-700;
  }
  input[type="checkbox"] + label.menu-only-label:before {
    top: 0;
  }
  input[type="checkbox"]:checked + label.menu-only-label:before {
    top: -5px;
  }
  span {
    line-height: 1;
    vertical-align: top;
  }
}

div.menu-message {
  display: inline-block;
  text-align: left;
  color: #ddd;
}
div.update-schedule {
  margin-top: 2rem;
  text-align: center;
}

@media screen and (max-width: 767px) {
  div.check-uncheck {
    margin-bottom: 2rem;
  }
  div.row div.col-sm-12:last-child div.check-uncheck {
    margin-bottom: 0;
  }
  div.message-box {
    margin-bottom: 2rem;
  }
  div.row div.col-sm-12:last-child div.message-box {
    margin-bottom: 0;
  }
}

/*カレンダー*/
div.fc-day-grid {
  height: 100%;
}