<% provide(:title, "種目一覧") %>
<h1 class="mb-3">種目一覧</h1>

<div class="new-item-btn">
  <%= link_to " 新規作成",
    new_user_item_path,
    class: "btn btn-light new-btn icon create",
    role: "button"
  %>
</div>
<div id="items">
<div class="list-group item-list">
  <% @items.each do |item| %>
   <%= link_to item.name,
     user_item_path(current_user, item),
     class: "list-group-item list-group-item-action"
   %>
  <% end %>
</div>
<%= paginate @items, remote: true %>
</div>