<p>こんにちは <%= @resource.email %> さん！</p>

<p>以下のリンクへアクセスすることでパスワードを変更することができます。</p>

<p><%= link_to 'パスワードを変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>心当たりがない場合はこのメールを無視してください。</p>
<p>上記のリンクにアクセスして新しいパスワードを作成しない限り、あなたのパスワードが変更されることはありません。</p>
