<p>こんにちは <%= @resource.email %> さん！</p>

<p>ログイン失敗が一定の回数を超えたため、あなたのアカウントはロックされました。</p>

<p>アカウントのロックを解除するには以下のリンクへアクセスしてください。</p>

<p><%= link_to 'アカウントのロックを解除', unlock_url(@resource, unlock_token: @token) %></p>
