<footer class="footer">
  <small>
    © 2019 WorkOut!!
  </small>
  <nav>
    <ul>
      <li><%= link_to "WorkOut!!について", about_path %></li>
      <li><%= link_to "お問い合わせ", contact_path %></li>
    </ul>
  </nav>
</footer>